.container {
    margin: 0 auto;
    padding: 10vh;
    text-align: center;
    width: 100%;
    height: auto;
}

.header {
    
    .title {
        margin: 2em 0;
        padding: .3em;
        line-height: 1.5em;
    }
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-field {
        width: 100%;
        padding: 1em;
        margin-bottom: 2em;
    }
    
    .submit-button {
        width: 50%;
        height: 3em;
    }
}

.display {
    
}